.chat-container{
    min-width: 300px;
    height: 360px;
    background-color: white;
    margin: 1%;
    display: grid;
    grid-template-columns: 100%;
    border: 3px solid black;
}

.chat-content{
    margin: 1%;
    display: grid;
    grid-template-rows: 90% 10%;
}

.messages-container{
    /*
    position: relative;
    top: 0px
    */
}

.textarea-container{
    /*
    position: relative;
    bottom: 0px;
    */
    margin: 1%;
    display: grid;
    grid-template-columns: 90% 10%;
    column-gap: .5%;
}

input[name="text-messages-area"]{
    
}