.title-quiz {
    background-color: black;
    color: white;
    margin: 1%;
}

.quiz-game-contaioner {
    background-color: darkgray;
    text-align: center;
}

.question-slot {
    margin: 1%;
}

.answers-container {
    display: grid;
    margin: 1%;
}

.result-container {
    margin: 1%;
}

.correct-answer {
    background-color: cadetblue;
}

.score {
    background-color: rgb(255, 87, 87);
}

.add-questions-container {
    margin: 1%;
    margin-bottom: 5%;
}

.form-quiz-adder {
    display: grid;
}

#form-container {
    display: none;
    width: 100%;
}

input[value = "Enviar"]{
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    min-width: 100px;
}