.title-quiz{
    grid-row: 1/2;
    background-color: black;
}

.quiz-game-contaioner{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-row: 2 / 3;
    background-color: pink;
    text-align: center;
}

.question-slot{
    grid-row: 1/2;
}

.answers-container{
    display: grid;
    grid-row: 2/3;
    grid-column: auto;
}

.result-container{
    display: grid;
    grid-row: 3/4;
}

.correct-answer{
    grid-column: 1/2;
    background-color: cadetblue;
}

.score{
    grid-column: 2/3;
    background-color: red;
}