.navbar-bg {
    background-color: #3e4144;
}

.navbar-color-txt {
    color: white !important;
}

a {
    color: white;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.video {
    width: 50%;
    height: 420px;
}

#seekBar {
    -webkit-appearance: none;
    width: 50%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#seekBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #121212;
    cursor: pointer;
}

#seekBar::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #121212;
    cursor: move;
}