* {
    box-sizing: border-box;
  }

.navbar-bg {
    background-color: #3e4144;
}

.navbar-color-txt {
    color: white !important;
}

a {
    color: white;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.video {
    background-color: black;
    width: 100%;
    height: 420px;
}

.subtitles{
    background-color: #3e4144;
    display: none;
    height: 25px;
}

#subtitles-text{
    text-align: center;
    color: #fff;
}

#seekBar {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#seekBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #121212;
    cursor: pointer;
}

#seekBar::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #121212;
    cursor: move;
}

#video-seekbar{
    grid-column-start: 2;
    grid-column-end: 3;
}

#seekVol-container{
    /*visibility: hidden;*/
    width: 150px;
    grid-column: 2/3;
}

#volumeBtn{
    display: grid;
}

#myCtrlVid{
    background-color: cornflowerblue;
    padding: 5px;
    display: grid;
    grid-template-columns: 5% 17% 65% 5% 3%;
    grid-gap: 5px;
    height: 40px;
}

.video-container{
    /*grid-row: 1/2;*/
    grid-column: 1/2;
    margin: 5px;
    display: grid;
    /*grid-template-rows: 62% 7%;*/
}

.main-grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
    /*grid-template-rows: 100% 100%;*/
}

.quiz-container{
    display: grid;
    grid-column: 2/3; 
    grid-row: 2/3;
    grid-template-rows: auto auto;
}

.info-container{
    display: grid;

}

.options-list{
    background-color: black;
}